<ul class="list-group toolbar">
	<li class="toolbar-item toolbar-item-normal" id="command_set_x" draggable="true" ondragstart="dragFromToolbar(event)">
		set to x
		<input type="text" name="value_set_to_x" value="10" class="number-input"></input>
	</li>
	<li class="toolbar-item toolbar-item-normal" id="command_set_y" draggable="true" ondragstart="dragFromToolbar(event)">
		set to y
		<input type="text" name="value_set_to_y" value="10" class="number-input"></input>
	</li>
	<li class="toolbar-item toolbar-item-normal" id="command_show" draggable="true" ondragstart="dragFromToolbar(event)">
		show 
	</li>
	<li class="toolbar-item toolbar-item-normal" id="command_hide" draggable="true" ondragstart="dragFromToolbar(event)">
		hide 
	</li>
	<li class="toolbar-item toolbar-item-normal" id="command_move" draggable="true" ondragstart="dragFromToolbar(event)">
		move
		<input type="text" name="value_move_steps" value="10" class="number-input"></input>
		steps 
	</li>
	<li class="toolbar-item toolbar-item-normal" id="command_change_constume" draggable="true" ondragstart="dragFromToolbar(event)">
		change constume 
	</li>
	<li class="toolbar-item toolbar-item-normal" id="command_change_background" draggable="true" ondragstart="dragFromToolbar(event)">
		change background 
	</li>
	<li class="toolbar-item toolbar-item-control" id="command_repeat" draggable="true" ondragstart="dragFromToolbar(event)">
		repeat
		<input type="text" name="value_repeat_times" value="10" class="number-input"></input>
		times
	</li>
</ul>