$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

ul { min-height:20px; }

li {
	color: #FFFFFF;		
}

.container-fluid {
	padding-left: 4px;
	padding_right: 4px;	
}

.navbar {
	margin-bottom: 2px;
	border-radius: 0px;	
}

.block {
	border: 1px solid #A0A0A0;	
}

.left-col {
	width: 480px;
	height: auto;
	float: left;
	margin-right: 4px;
	overflow: hidden;
}

.right-col {
	width: auto;
    height: auto;
    overflow: hidden;
}

.player-header {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 36px;
	padding-top: 4px;
	padding-left: 20px;
	padding-right: 20px;
}

.filename-input {
	padding: 2px 8px;
	line-height: 12px;
	width: 300px;
}

.player {
	height: 360px;
}

.editor {
	height: 680px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 4px;
	overflow: hidden;
}

.editor-toolbar {
	width: 240px;
	height: 680px;
	margin-right: 4px;
	float: left;
	overflow: hidden;
}

.editor-workspace {
	height: 670px;
	width: auto;
	padding: 20px 20px;
	overflow: hidden;
	background-color: #E8E8E8;
}

.editor-workspace li {
	margin-top: -10px;
}

.workspace-list {
	list-style-type: none;
}

.toolbar {
	padding-left: 20px;
	list-style-type: none;
}

.toolbar-item {
	margin-top: 20px;
	padding-left: 8px;
	width: 200px;
}

.toolbar-item-normal {
	padding-top: 5px;
	height: 42px;
	background-image: url('../images/block_normal.png');
	background-repeat: no-repeat;
}

.toolbar-item-control {
	padding-top: 5px;
	height: 102px;
	background-image: url('../images/block_control.png');
	background-repeat: no-repeat;
}

.number-input {
	line-height: 12px;
	margin-left: 4px;
	margin-right: 4px;
	width: 30px;
	font-size: 11px;
	color: #000000;
	border-radius: 8px;
}