$icon-font-path: "/bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/assets/stylesheets/bootstrap.scss';

.block {
	border: 1px solid #A0A0A0;	
}

.player {
    height: 360px;
}

.editor {
    height: 720px;
    float: right;
}

.editor_workspace {
	height: 710px;
	margin-top: 5px;
	background-color: #E8E8E8;
}

.editor_toolbar {
	height: 710px;
	padding-top: 10px;
}
